# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtualenv
.venv/
venv/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Local env files
.env
.env.*

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
